<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT contentBlock ANY>
<!ATTLIST contentBlock id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT holdingPage ANY>
<!ATTLIST holdingPage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>
]>
<root id="-1">
  <holdingPage id="1077" key="064dbf8a-368b-41df-b072-be22c12178de" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-14T11:34:25" updateDate="2016-12-14T12:19:18" nodeName="Coming Soon" urlName="coming-soon" path="-1,1077" isDoc="" nodeType="1075" creatorName="Admin" writerName="Admin" writerID="0" template="1074" nodeTypeAlias="holdingPage">
    <description><![CDATA[Hair stuff]]></description>
    <content><![CDATA[<p>Some content</p>]]></content>
    <logo><![CDATA[1078]]></logo>
    <title><![CDATA[Bela Rose]]></title>
    <linkedIn><![CDATA[test]]></linkedIn>
    <twitter><![CDATA[test]]></twitter>
    <facebook><![CDATA[test]]></facebook>
    <backgroundImage><![CDATA[1079]]></backgroundImage>
  </holdingPage>
  <home id="1099" key="13268cc6-e5d9-4ce4-8781-829b3ef8c95b" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-12-14T15:02:12" updateDate="2016-12-14T16:20:52" nodeName="Bela Rose" urlName="bela-rose" path="-1,1099" isDoc="" nodeType="1090" creatorName="Admin" writerName="Admin" writerID="0" template="1089" nodeTypeAlias="home">
    <robots>1</robots>
    <description><![CDATA[Bela Rose Hair & Beauty in Eastbourne]]></description>
    <canonical><![CDATA[http://belarose.co.uk/]]></canonical>
    <title><![CDATA[Bela Rose]]></title>
    <email><![CDATA[info@belarose.co.uk]]></email>
    <twitterLink><![CDATA[test]]></twitterLink>
    <openingHours><![CDATA[<table border="0" class="table">
<tbody>
<tr>
<td class="text-left">Mon - Fri</td>
<td class="text-right">7:00.- 17:00</td>
</tr>
<tr>
<td class="text-left">Weekends</td>
<td class="text-right">7:00.- 14:00</td>
</tr>
<tr>
<td class="text-left">Holidays</td>
<td class="text-right"><span class="label label-danger">Closed</span></td>
</tr>
</tbody>
</table>]]></openingHours>
    <tumblrLink><![CDATA[test]]></tumblrLink>
    <logo><![CDATA[1078]]></logo>
    <isBlogInActive>1</isBlogInActive>
    <logoDark><![CDATA[1078]]></logoDark>
    <instagramLink><![CDATA[test]]></instagramLink>
    <facebookLink><![CDATA[test]]></facebookLink>
    <loaderLogo><![CDATA[1078]]></loaderLogo>
    <location><![CDATA[Eastbourne, East sussex]]></location>
    <h1Tag><![CDATA[Welcome to bela rose]]></h1Tag>
    <backgroundImage><![CDATA[1079]]></backgroundImage>
    <cTATitle><![CDATA[Make an appointment]]></cTATitle>
    <isCTAEnabled>1</isCTAEnabled>
    <cTAText><![CDATA[Lorem ipsum etc etc yadda yadda]]></cTAText>
    <cTAButtonText><![CDATA[Contact Us]]></cTAButtonText>
    <isServicesEnabled>1</isServicesEnabled>
    <servicePanels><![CDATA[1128,1129]]></servicePanels>
    <servicesContent><![CDATA[Lorem ipsum etc you get the point]]></servicesContent>
    <servicesTitle><![CDATA[Services]]></servicesTitle>
    <servicesSubTitle><![CDATA[What we can do for you]]></servicesSubTitle>
    <aboutTitle><![CDATA[About Us]]></aboutTitle>
    <aboutSubTitle><![CDATA[Hear all about us]]></aboutSubTitle>
    <aboutCarousel1><![CDATA[1078,1079]]></aboutCarousel1>
    <aboutContent><![CDATA[LoremIpsum]]></aboutContent>
    <isAboutEnabled>1</isAboutEnabled>
    <aboutPanels><![CDATA[1130,1131]]></aboutPanels>
    <isVideoEnabled>0</isVideoEnabled>
    <isTeamEnabled>0</isTeamEnabled>
    <pricesTitle><![CDATA[Our Price List]]></pricesTitle>
    <isPricesEnabled>1</isPricesEnabled>
    <priceList><![CDATA[1138]]></priceList>
    <listTitle><![CDATA[Prices]]></listTitle>
    <priceList2><![CDATA[1139]]></priceList2>
    <isGalleryEnabled>0</isGalleryEnabled>
    <images><![CDATA[1078]]></images>
    <galleryTitle><![CDATA[Gallery]]></galleryTitle>
    <isContactEnabled>1</isContactEnabled>
    <isInfoEnabled>0</isInfoEnabled>
    <contentBlock id="1128" key="6fdd3441-a332-415c-ab9a-8f73104ababe" parentID="1099" level="2" creatorID="0" sortOrder="0" createDate="2016-12-14T15:50:02" updateDate="2016-12-14T15:50:32" nodeName="Service 1" urlName="service-1" path="-1,1099,1128" isDoc="" nodeType="1124" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="contentBlock">
      <title><![CDATA[Service 1]]></title>
      <content><![CDATA[Lorem Ipsum]]></content>
      <subHeading><![CDATA[this is service 1]]></subHeading>
      <isFirst>1</isFirst>
    </contentBlock>
    <contentBlock id="1129" key="87022bc5-4cf2-4c80-b839-303e3fb7df6c" parentID="1099" level="2" creatorID="0" sortOrder="1" createDate="2016-12-14T15:50:23" updateDate="2016-12-14T15:50:35" nodeName="Service 2" urlName="service-2" path="-1,1099,1129" isDoc="" nodeType="1124" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="contentBlock" isDraft="">
      <title><![CDATA[Service 2]]></title>
      <content><![CDATA[Lorem Ipsum]]></content>
      <subHeading><![CDATA[This is service 2]]></subHeading>
      <isFirst>0</isFirst>
    </contentBlock>
    <contentBlock id="1130" key="47927103-be3e-4c33-af3b-6879b26d2831" parentID="1099" level="2" creatorID="0" sortOrder="2" createDate="2016-12-14T15:51:07" updateDate="2016-12-14T15:51:07" nodeName="About 1" urlName="about-1" path="-1,1099,1130" isDoc="" nodeType="1124" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="contentBlock">
      <title><![CDATA[About 1]]></title>
      <content><![CDATA[Content About 1]]></content>
      <subHeading><![CDATA[About]]></subHeading>
      <isFirst>1</isFirst>
    </contentBlock>
    <contentBlock id="1131" key="4f10aa1a-2bae-4101-a6f8-6043f3217790" parentID="1099" level="2" creatorID="0" sortOrder="3" createDate="2016-12-14T15:51:28" updateDate="2016-12-14T15:51:28" nodeName="About 2" urlName="about-2" path="-1,1099,1131" isDoc="" nodeType="1124" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="contentBlock">
      <title><![CDATA[About 2]]></title>
      <content><![CDATA[Lorem Ipsum]]></content>
      <subHeading><![CDATA[About 2]]></subHeading>
      <isFirst>0</isFirst>
    </contentBlock>
    <contentBlock id="1138" key="b02ffb03-f128-42da-911b-5e59f8c2c0f1" parentID="1099" level="2" creatorID="0" sortOrder="4" createDate="2016-12-14T16:15:31" updateDate="2016-12-14T16:15:31" nodeName="Price1" urlName="price1" path="-1,1099,1138" isDoc="" nodeType="1124" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="contentBlock">
      <title><![CDATA[Price1]]></title>
      <content><![CDATA[Lorem Ipsum]]></content>
      <subHeading><![CDATA[£10]]></subHeading>
      <isFirst>0</isFirst>
    </contentBlock>
    <contentBlock id="1139" key="adb4eab9-60d3-4f47-a6fe-5426865e9e1b" parentID="1099" level="2" creatorID="0" sortOrder="5" createDate="2016-12-14T16:15:50" updateDate="2016-12-14T16:15:50" nodeName="Price 2" urlName="price-2" path="-1,1099,1139" isDoc="" nodeType="1124" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="contentBlock">
      <title><![CDATA[Price 2]]></title>
      <content><![CDATA[Lorem Ipsum again]]></content>
      <subHeading><![CDATA[£19.99]]></subHeading>
      <isFirst>0</isFirst>
    </contentBlock>
  </home>
</root>