<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT HoldingPage ANY>
<!ATTLIST HoldingPage id ID #REQUIRED>
]>
<root id="-1">
  <HoldingPage id="1057" key="3d65a7ed-3b18-4c65-9497-13f1f74e648f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-23T15:05:21" updateDate="2017-01-23T15:28:37" nodeName="Holding Page" urlName="holding-page" path="-1,1057" isDoc="" nodeType="1056" creatorName="hannah" writerName="hannah" writerID="0" template="1047" nodeTypeAlias="HoldingPage">
    <description><![CDATA[Bela Rose Hair & Beauty in Eastbourne]]></description>
    <logo><![CDATA[1059]]></logo>
    <title><![CDATA[Bela Rose Hair & Beauty]]></title>
  </HoldingPage>
  <Home id="1060" key="8ccd77ec-b9cf-442a-ac11-b963c33f7515" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-01-23T15:25:27" updateDate="2017-01-23T15:31:21" nodeName="Bela Rose" urlName="bela-rose" path="-1,1060" isDoc="" nodeType="1055" creatorName="hannah" writerName="hannah" writerID="0" template="1048" nodeTypeAlias="Home">
    <h1Tag><![CDATA[test]]></h1Tag>
    <linkedIn><![CDATA[test]]></linkedIn>
    <instagram><![CDATA[test]]></instagram>
    <twitter><![CDATA[test]]></twitter>
    <metaKeywords><![CDATA[test]]></metaKeywords>
    <googlePlus><![CDATA[test]]></googlePlus>
    <faceBook><![CDATA[test]]></faceBook>
    <cTATitle><![CDATA[test]]></cTATitle>
    <cTAButtonText><![CDATA[test]]></cTAButtonText>
    <cTAText><![CDATA[test]]></cTAText>
    <servicesContent><![CDATA[test]]></servicesContent>
    <servicesSubTitle><![CDATA[test]]></servicesSubTitle>
    <servicesTitle><![CDATA[test]]></servicesTitle>
    <aboutSubTitle><![CDATA[test]]></aboutSubTitle>
    <aboutTitle><![CDATA[test]]></aboutTitle>
    <aboutContent><![CDATA[test]]></aboutContent>
    <listTitle><![CDATA[test]]></listTitle>
    <pricesTitle><![CDATA[test]]></pricesTitle>
    <galleryTitle><![CDATA[test]]></galleryTitle>
    <contactBlurb><![CDATA[test]]></contactBlurb>
    <infoPhone><![CDATA[test]]></infoPhone>
    <infoEmail><![CDATA[test]]></infoEmail>
    <infoAddress><![CDATA[test]]></infoAddress>
  </Home>
</root>