<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT HoldingPage ANY>
<!ATTLIST HoldingPage id ID #REQUIRED>
]>
<root id="-1">
  <HoldingPage id="1057" key="3d65a7ed-3b18-4c65-9497-13f1f74e648f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-23T15:05:21" updateDate="2017-01-23T15:05:21" nodeName="Holding Page" urlName="holding-page" path="-1,1057" isDoc="" nodeType="1056" creatorName="hannah" writerName="hannah" writerID="0" template="1047" nodeTypeAlias="HoldingPage">
    <description><![CDATA[Bela Rose]]></description>
    <title><![CDATA[Bela Rose]]></title>
  </HoldingPage>
</root>