<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT holdingPage ANY>
<!ATTLIST holdingPage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>
]>
<root id="-1">
  <holdingPage id="1077" key="064dbf8a-368b-41df-b072-be22c12178de" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-14T11:34:25" updateDate="2016-12-14T12:19:18" nodeName="Coming Soon" urlName="coming-soon" path="-1,1077" isDoc="" nodeType="1075" creatorName="Admin" writerName="Admin" writerID="0" template="1074" nodeTypeAlias="holdingPage">
    <description><![CDATA[Hair stuff]]></description>
    <content><![CDATA[<p>Some content</p>]]></content>
    <logo><![CDATA[1078]]></logo>
    <title><![CDATA[Bela Rose]]></title>
    <linkedIn><![CDATA[test]]></linkedIn>
    <twitter><![CDATA[test]]></twitter>
    <facebook><![CDATA[test]]></facebook>
    <backgroundImage><![CDATA[1079]]></backgroundImage>
  </holdingPage>
</root>